.wrapper {
  display: flex;
 flex-direction: column;

}
.search-filter-wrapper {

  display: flex;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header > p {
    font-size: 16px;
    font-weight: bold;
}